body {
	background-color: rgb(156, 151, 151);
}
.navigation ul{
    text-align: center;
    background-color: #e4b382;
    margin: 0;
    padding: 4px;
}
.navigation ul li{
    list-style-type: none;
    display: inline;
}
.navigation ul li a{
    color: #000000
}
.navigation ul li a:hover{
    color:brown
}
.mainvisual img{
    display:inline;
}
h1 { 
    font-size: 30px; 
    color: black;
    text-align: center;
}
h2 { 
    font-size: 23px; color: block;
    text-align: center;
}
