body {
	background-color: #b0c4de;
}
.navigation ul {
    text-align: center;
    background-color: #e6e6fa;
    margin:0 auto;
    width:700px;
    padding:20px;
}
.navigation ul li {
    list-style-type: none;
    display: inline;
}
.navigation ul li a {
    color: #000000
}
.navigation ul li a:hover {
    color:brown
}
.mainvisual img {
    display:block;
    margin:auto;
    padding:1cm;
}
.mainvisual ol li{
    text-align:center
}
h1 { 
    font-size: 30px; 
    color: black;
    text-align: center;
}
h2 { 
    color: black;
    text-align: center;
}
